body {
    background-image: URL(img/e855e3a9e03681ccf56f95bf5cc39c4a.jpg);
    background-repeat: no-repeat;     
    background-size: cover;           
    background-position: center;       
    background-attachment: fixed;      
  }